html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

body {
    background-color: #181818;
    height: 100%;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

.btn-spotify {
    padding: 1rem;
    background-color: #1db954;
    appearance: none;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    transition: all ease-in-out .2s;
    text-decoration: none;
}

.btn-spotify:hover {
    cursor: pointer;
    background-color: #1ed760;   
}
